<div class="container mt-4">
  <h2>Ajouter une Réservation</h2>
  <form (ngSubmit)="onSubmit()" #reservationForm="ngForm">


    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" id="date" [(ngModel)]="reservation.date" name="date" required />
    </div>

    <div class="mb-3">
      <label for="idStade" class="form-label">ID Stade</label>
      <input type="number" class="form-control" id="idStade" [(ngModel)]="reservation.idStade" name="idStade" required />
    </div>

    <div class="mb-3">
      <label for="idPremiereEquipe" class="form-label">ID Première Équipe</label>
      <input type="number" class="form-control" id="idPremiereEquipe" [(ngModel)]="reservation.idPremiereEquipe" name="idPremiereEquipe" required />
    </div>

    <div class="mb-3">
      <label for="idDeuxiemeEquipe" class="form-label">ID Deuxième Équipe</label>
      <input type="number" class="form-control" id="idDeuxiemeEquipe" [(ngModel)]="reservation.idDeuxiemeEquipe" name="idDeuxiemeEquipe" required />
    </div>

    <div class="mb-3">
      <label for="idOrganisateur" class="form-label">ID Organisateur</label>
      <input type="number" class="form-control" id="idOrganisateur" [(ngModel)]="reservation.idOrganisateur" name="idOrganisateur" required />
    </div>

    <div class="mb-3">
      <label for="qrCodeBase64" class="form-label">QR Code (Base64)</label>
      <input type="text" class="form-control" id="qrCodeBase64" [(ngModel)]="reservation.qrCodeBase64" name="qrCodeBase64" />
    </div>

    <button type="submit" class="btn btn-success">Ajouter</button>
  </form>
</div>
