<div class="container mt-4">
  <h2>{{ isEditMode ? 'Modifier un Stade' : 'Ajouter un Stade' }}</h2>
  <form (ngSubmit)="onSubmit()" #stadeForm="ngForm">
    <div class="mb-3">
      <label for="name" class="form-label">Nom du stade</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="stade.name" name="name" required />
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Lieu</label>
      <input type="text" class="form-control" id="location" [(ngModel)]="stade.location" name="location" required />
    </div>

    <div class="mb-3">
      <label for="capacity" class="form-label">Capacité</label>
      <input type="number" class="form-control" id="capacity" [(ngModel)]="stade.capacity" name="capacity" required />
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!stadeForm.valid">
      {{ isEditMode ? 'Mettre à jour' : 'Ajouter' }}
    </button>
  </form>
</div>
